$blue: #5a32a8;
$green: #015722;
$border-radius: 0;
$paragraph-margin-bottom: 0;


@import 'bootstrap/scss/bootstrap';

body{
    min-height: 100vh;
    background: linear-gradient(
        to bottom,
        rgba(8, 26, 120, 0.50) 25%,
        rgba(10, 28, 129, 0.50) 25%,
        rgba(0, 0, 0, 0.50) 50%
    ),
}